{% set offline = lastSeen and date(lastSeen) <= date('-1day') %}

<tr>
    <td>
        {% if co2 %}
            {% if co2 < 1000 %}
                <span class="co2 ok" title="{{ co2 }}"></span>
            {% elseif co2 < 2000 %}
                <span class="co2 warning" title="{{ co2 }}"></span>
            {% else %}
                <span class="co2 danger" title="{{ co2 }}"></span>
            {% endif %}
        {% endif %}
    </td>
    <td>
        <span class="{{ offline ? 'offline' : '' }}">
            {{ name }}
        </span>
    </td>
    <td>
        {% if offline %}
            -
        {% else %}
            {{ temperature|number_format(1, ',', '.') }}<span class="unit">°C</span>
            {% if temperature_trend == 'stable' %}
                <span class="temperature-trend stable">
                    {{ '→' }}
                </span>
            {% elseif temperature_trend == 'up' %}
                <span class="temperature-trend up">
                    {{ '↗' }}
                </span>
            {% elseif temperature_trend == 'down' %}
                <span class="temperature-trend down">
                    {{ '↘' }}
                </span>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if offline %}
            -
        {% else %}
            {{ humidity }}<span class="unit">%</span>
        {% endif %}
    </td>
    <td>
        {% if battery and not offline %}
            <div class="battery">
                <span class="{{ battery > 20 ? 'green' : 'red' }}" style="height: {{ battery }}%">&nbsp;</span>
                <span class="percentage">{{ battery }}%</span>
            </div>
        {% endif %}
    </td>
</tr>
