{% set offline = lastSeen and date(lastSeen) <= date('-1hour') %}

<div class="dashboard-item-container">
    <div class="dashboard-item dashboard-item__rain {{ is_raining ? 'dashboard-item__rain--raining'}} {{ offline ? 'dashboard-item--offline' }}">
        <div class="rain">
            <div class="rain__mm-per-hour">{{ rain_24|number_format(1, ',', '.') }}</div>
            <div class="rain__appendix">
                <span class="rain__unit">mm/&#8203;24h</span>
            </div>
        </div>
        <div class="dashboard-item__footer">
            <div class="station-name">
                {{ name }}
            </div>
            <div class="dashboard-item__appendix">
                {% if battery %}
                    <div class="battery">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420.75 420.75"><path d="M238.059 127.334l-87.01 111.728h55.157l-23.515 83.042 87.01-111.729h-55.157z"/><path d="M258.188 0h-95.625c-10.566 0-19.125 8.559-19.125 19.125V38.25h-38.25C89.371 38.25 76.5 51.121 76.5 66.938v325.125c0 15.816 12.871 28.688 28.688 28.688h210.375c15.816 0 28.688-12.871 28.688-28.688V66.938c0-15.816-12.871-28.688-28.688-28.688h-38.25V19.125C277.312 8.559 268.754 0 258.188 0zm57.374 57.375c5.278 0 9.562 4.284 9.562 9.562v325.125c0 5.278-4.284 9.562-9.562 9.562H105.188c-5.278 0-9.562-4.284-9.562-9.562V66.938c0-5.278 4.284-9.562 9.562-9.562h210.374z"/></svg>
                        {{ battery }}<span class="battery__unit">%</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
